# Jupyter Notebooks
.ipynb_checkpoints

# compressed files
*.7z
*.bz2
*.bzip2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.zip

# full directories
amep.egg-info/

# compiled
__pycache__/

# Sphinx documentation
doc/build/
doc/source/_autosummary

# project-related files
*.npy
*.pkl
*.pdf
*.egg-info/
*.swp
*.mp4
*.h5
dist/
config/
.mypy-cache/
build/

# Test and example directories and files
test/data
test/.coverage
test/coverage.xml
examples/data/continuum/traj.h5amep
examples/data/continuum/#traj.h5amep
examples/data/continuum/##temp*
examples/data/trajs/
examples/data/lammps/traj.h5amep
examples/data/lammps/#traj.h5amep
examples/data/lammps/##temp*
examples/data/invalid
